$primary-color:#009688;
$font-family: "Raleway", sans-serif;

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
}

.orange {
    background-color: $primary-color;
}

.primary-color {
    background-color: $primary-color;
}

.primary-color-text {
    color: $primary-color;
}

.primary-color-hover:hover {
    background-color: $primary-color;
}

.primary-color-border {
    border-color: $primary-color !important;
}
.center {
    max-width: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.bar:hover {
    fill: $primary-color;
}