$primary-color:#009688;
$font-family: "Raleway", sans-serif;

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
}

.orange {
    background-color: $primary-color;
}

.primary-color {
    background-color: $primary-color;
}

.primary-color-text {
    color: $primary-color;
}

.primary-color-hover:hover {
    background-color: $primary-color;
}

.primary-color-border {
    border-color: $primary-color !important;
}
.center {
    max-width: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.bar:hover {
    fill: $primary-color;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $primary-color;
    border-bottom: 16px solid $primary-color;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  